<a href="https://colab.research.google.com/github/BalbirSingh29/Complete-Deep-Learning/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
books = pd.read_csv("/content/drive/MyDrive/deepLearning/BookRecommendation/BX-Books.csv",sep=';',encoding='latin-1',error_bad_lines=False)


ratings = pd.read_csv("/content/drive/MyDrive/deepLearning/BookRecommendation/BX-Book-Ratings.csv",sep=';',encoding='latin-1',error_bad_lines=False)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
users = pd.read_csv('/content/drive/MyDrive/deepLearning/BookRecommendation/BX-Users.csv',sep=';',encoding="latin-1",error_bad_lines=False)

In [ ]:
books = books[['ISBN', 'Book-Title','Book-Author','Year-Of-Publication','Publisher']]
books.rename(columns = {'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [ ]:
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

The dataset is reliable and can consider as a large dataset. We have 271360 books data and total registered users on the website are approximately 278000 and they have given near about 11 lakh rating. Hence we can say that the dataset we have is nice and reliable.

**Approach the a Problem Statement**
We do not want to find a similarity between users or books. We want to do that if there is user A who has read a nd liked X and Y books, And user B has also liked this two books and now user A has read and liked some z book which is not read by B so we have to recommend z book to user B. This is what collaborative filtering is.
So this is achieved using Matrix Factorization, we will create one matrix where columns will be users and indexes will be books and value will be rating. Like we have to create a Pivot Tablef

**A big Flaw with a Problem statement in the dataset**
If we take all the books and all the users for modelling, Don't you think will it create a problem? So what we have to do is we have to decrease the number of users and books because we cannot consider a user who has only registered on the website or has only read one or two books. On such a user, we cannot rely to recommend books to others because we have to extract knowledge from data. So what we limit this number and we will take a user who has rated at least 200 books and also we will limit books and we will take only those books which have received at least 50 ratings from a user

**Exploratory Data Analysis**
So let's get with analysis and prepare the dataset as we discussed for modelling let us see how many users have given ratings and extract those users who have given more than 200 ratings.

In [ ]:
ratings['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
158698        1
17920         1
277135        1
275086        1
187812        1
Name: user_id, Length: 105283, dtype: int64

**Step -1) Extract users and ratings of more than 200**

when you run the above code we can see only 105283 peoples have given a rating among 278000. Now we will extract the user ids who have given more than 200 ratings and when we will have user ids we will extract the ratings of only this user if from the rating dataframe.

In [ ]:
x = ratings['user_id'].value_counts()>200
y = x[x].index
print(y.shape)
ratings = ratings[ratings['user_id'].isin(y)]

(899,)

**Step-2) Merge Ratings with Books**

So 900 users are there who have given 5.2 lakhs rating and this we want. Now we will merge ratings with books on basis of ISBN so that we will get the rating of each user on each book id and the user who has not rated that book id the value will be zero.

In [ ]:
rating_with_books = ratings.merge(books,on='ISBN')
rating_with_books.head()

   user_id        ISBN  ...  year                  publisher
0   277427  002542730X  ...  1994  John Wiley &amp; Sons Inc
1     3363  002542730X  ...  1994  John Wiley &amp; Sons Inc
2    11676  002542730X  ...  1994  John Wiley &amp; Sons Inc
3    12538  002542730X  ...  1994  John Wiley &amp; Sons Inc
4    13552  002542730X  ...  1994  John Wiley &amp; Sons Inc

[5 rows x 7 columns]

**Step-3) Extract books that have received more than 50 ratings**

Now dataframe size has decreased and we have 4.8 lakh because when we merge the dataframe, all the book id-data we were not having. Now we will count the rating of each book so we will group data based on title and aggregate based on rating

In [ ]:
number_rating= rating_with_books.groupby('title')['rating'].count().reset_index()
number_rating.rename(columns={'rating':'number_of_ratings'},inplace=True)
final_rating =rating_with_books.merge(number_rating,on='title')
final_rating.shape
final_rating = final_rating[final_rating['number_of_ratings']>=50]
final_rating.drop_duplicates(['user_id','title'],inplace=True)

we have to drop duplicate values because if the same user has read the same book multiple times so it will create a problem. Finally, we have a dataset with that user who has rated more than 200 books and books that received more than 50 ratings. The shape of the final dataframe is 59850 row and 8 columns

**Step-4) Create Pivot Table**

As we discussed above we will create a pivot table where columns will be user ids, the index will be book title and the value is ratings. And the user id who has not rated any book will have value a NAN so impute it with zero

In [ ]:
book_pivot = final_rating.pivot_table(columns='user_id',index='title',values='rating')
book_pivot.fillna(0,inplace=True)

We can see that more than 11 users have removed out because their ratings were on those books which do receive more 50 ratings so they are moved out of the picture.

**Modelling**

We have prepared our dataset for modelling. we will use the nearest neighbors algorithm which is the same as K nearest which is used for clustering based on education distance.
 But here in the pivot table, we have lots of zero values and on clustering, this computing power will increase to calculate the distance of zero values so we will convert the pivot table to the sparse matrix and then feed ti to the model

In [ ]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot
                         )

Now we wil train the nearest neighors algorithm. Here we need to specify an algorithm which is brute means find the distance of every point to every other point.

In [ ]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

Let's make a prediction and see whether it is suggesting books or not. we will find the nearest neighbors to the input book id and after that, we will print the top 5 books which are closer to those books. It will provide us distance and book id at that distance. Let us pass harry potter which is at 237 index.

In [ ]:
distances,suggestions = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1))

let us print all the suggested books

In [ ]:
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive'],
      dtype='object', name='title')

to print the title of book